<h1> All datasets </h1>

<ul>
  <div class="datasetTable" style = "overflow-x:auto">  
  <table class="datasets">
    <%= render '/shared/dataset_headers' %>
    <%= render @datasets %>
    </table>
  </div>
</ul>
