<h1><%= @dataset.jobid %></h1>
<div class="datasetTable" style = "overflow-x:auto">  
  <table class="profile" summary="One dataset">
    <%= render '/shared/dataset_headers' %>
    <%= render @dataset %>
  </table>
</div>

