<h1>About Us</h1>
<p>
  The <a href="http://fg.cns.utexas.edu">Functional Genomics Research Stream</a> is part of the <a href="http://fri.cns.utexas.edu">Freshman Research Initiative</a> at the <a href="http://www.utexas.edu">University of Texas at Austin</a>.
  </br>
  </br>
  This website was developed using Ruby on Rails 3.0 around code provided by <a href="https://github.com/mhartl">Michael Hartl</a>.
</p>
